.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.btn {
  display: block;
  background-color: #f4c314;
  color:#495e57;
  max-width: 270px;
  max-height: 44px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  text-decoration: none;
  justify-content: center;
}

#reserve_btn {
  display: flex;
  align-items: center;
}

.App-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #edefee;
}

.App-header img {
  margin-right: auto;
}

.Nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.Nav ul li {
  margin-left: 20px;
}

.Nav ul li:first-child {
  margin-left: 0;
}

.Nav ul li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: 333;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium;
}

.Main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: auto;
}
/*---------------------Hero Section----------------------- */
.Hero {
  display: grid;
  grid-template-columns: repeat(2, 4fr);
  column-width: 45vw;
  background-color: #495e57;
  color: #edefee;
}
.Hero h2 {
  color: #f4c314;
  font-size: clamp(1.8rem, calc(5vw + 1rem), 5rem);
  padding: 0;
  margin-top: 25%;
  margin-bottom: -25px;
}
.Hero h3 {
  font-size: 1.5rem;
  margin-bottom: -10px;
}
.Hero_Section {
  display: grid;
  grid-template-rows: 2fr, 1fr, 1fr, 1fr, 1fr;
  margin-top: -50px;
  margin-right: auto;
  padding: min(5rem, 8%);
}
.Hero img {
  display: block;
  border-radius: 1rem;
  margin-top: 25%;
  margin-left: auto;
  margin-right: auto;
  aspect-ratio: 1/1.5;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  top: 30px;
}
/*---------------------Specials--------------------------- */

.Specials header {
  display: flex;
  flex-direction: row;
  padding: min(1rem, 8%);
  margin-top: 25px;
  align-items: center;
}
.Specials h3 {
  font-weight:normal;
  margin-left: 20px;
  margin-right: auto;
  font-size: 1.5rem;
}
.Specials .btn {
  margin-right: 20px;
  width: 200px;
}
.Specials main ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
.Special_Card footer {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  padding-left: min(5rem, 8%);
  align-items: center;
}
.Special_Card {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: #d9d9d9;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  min-height: 300px;
  max-width: 330px;
  flex-wrap: wrap;
  overflow: hidden;
}
.Card_Body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.Card_Title {
  display: flex;
  flex-direction: row;
  padding-left: min(1rem, 5%);
  padding-right: min(1rem, 5%);
}
.Sp_title {
  margin-right: 0;
}
.Price {
  color: #ee9972;
  margin-left: auto;
}
.Card_image_container {
  height: 100%;
  overflow: hidden;
}
.Card_image_container img {
  aspect-ratio: 1/1;
  display: block;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*---------------------Testimonials----------------------- */
.Testimonials {
  background-color: #495e57;
  color:#edefee;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.ReviewTitle {
  font-size: 3rem;
}
.Testimonials ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* overflow: scroll; */
  gap: 3rem;
}
.ReviewCard {
  background-color: #ee9972;
  border-radius: 1rem;
  margin: 1rem;
  width: 273px;
}
.Testimonials p {
  width: 80%;
  margin-left: 1rem;
}
.Reviewer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin:1rem;
}
.Reviewer img {
  border-radius: 1rem;
}
/*---------------------Mission---------------------------- */
.mission {
  background-color: #edefee;
  color:#333333;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.missiontext {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  padding: 0;
  margin: 2rem;
  margin-left: 20%;
}
.missiontext h1 {
  color:#f4c314;
  font-size: 3rem;
  margin-bottom: -2rem;
}
.missiontext p {
  margin-top: 3rem;
  max-width: 65%;
}
 .imgcontainer {
  position: relative;
  display: grid;
  grid-template-columns: 50%;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  margin-right: 20%;
  margin-top: 3rem;
}
.imgcontainer img {
  border-radius: 1rem;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
}
.base-image {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 20rem;
  height: auto;
}
.overlay {
  position: absolute;
  aspect-ratio: 1/1;
  object-fit: cover;
  top: 10px;
  right: -200px;
  width: 20rem;
  height: auto;
  z-index: 1;
}
/*---------------------Footer----------------------------- */
.Footer {
  color: #edefee;
  min-height: auto;
  background: #495e57;
  display: flex;
  flex-wrap: wrap;
  align-items:start;
  justify-content: center;
  /* position:sticky;
  left: 0;
  bottom: 0; */
  width: 100vw;
}

.Footer img {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 18px;
}

.Footer Menu {
  margin-top: 40px;
}

.Footer ul {
  list-style: none;
}

.App-link {
  color: #61dafb;
}

/*-----------------------Form------------------------------- */
.BookingPage h1 {
  margin-left: 6rem;
  color:#333333;
  margin-right: auto;
}
.BookingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #edefee;
  width: 100vw;
  min-height: 80vh;
}

.BookingForm {
  padding: 2rem;
  border-radius: 1rem;
  color:#edefee;
  background-color: #495e57;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 90%;
  width: clamp(300px, 80%, 600px);
  gap: 1.5rem;
  margin:1.5rem;
}

.form-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.BookingForm label {
  width: 35%;
  text-align: right;
  flex-wrap: nowrap;
}

.BookingForm input,
.BookingForm select {
  background-color: #edefee;
  color:#333333;
  flex-grow: 1;
  border-radius: .5rem;
  height: 1.8rem;
  padding-left: 1rem;
  margin-left: 0;
  margin-right: 25%;
}

.BookingForm .btn {
  display: block;
  background-color: #f4c314;
  color: #495e57;
  max-width: 270px;
  height: 50px;
  font-weight: medium;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  transition:ease-in-out 100ms;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}

.number-input {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
}

.number-input input[type="number"] {
  width: 3rem;
  text-align: center;
  align-items: center;
  margin: auto;
  appearance: textfield;
}

.number-input button {
  background: #f4c314;
  color: #495e57;
  border: none;
  border-radius: 0.5rem;
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background 0.2s;
}

.number-input button:active {
  background: #333333;
  color: #edefee;
}

.btn:active {
  transform:scale(.99);
  background-color:#333333;
  color:#edefee;
}

@media (max-width: 768px) {
  .BookingPage h1 {
    margin-left: auto;
    color:#333333;
    margin-right: auto;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  };
  .BookingForm {
    padding:2rem;
    margin:0;
  };
  .BookingForm label {
    text-align: left;
    width: auto;
  };
  .BookingForm input,
  .BookingForm select {
    background-color: #edefee;
    color:#333333;
    flex-grow: 1;
    width: stretch;
    border-radius: .5rem;
    height: 1.8rem;
    padding-left: 1rem;
    margin-left: 0;
    margin-right: auto;
  };
}
/*-----------------Confirmation Page------------------------ */
.confirmedBooking {
  display: flex;
  flex-direction: column;
}
.confirmedBooking h1 {
  color: #333333;
  margin-left: 15%;
  font-size: clamp(1.5rem, 5vw, 3rem);
}
.confirmationCard {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  background-color: #495e57;
  color:#edefee;
  width: clamp(380px, 35%, 90%);
  margin-bottom: 2rem;
  border-radius: 1rem;
}
.confirmationCard h2 {
  position: relative;
  text-decoration: none;
  font-size: clamp(1.3rem, 2rem, 2.5rem);
}
.confirmation-underline {
  width: 95%;
  border-bottom: 2px dotted #edefee;
  margin-bottom: 0;
  padding:0;
}
.confirmationCard ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex-wrap: nowrap;
  list-style: none;
  border-radius: 1rem;
  font-size: clamp(1rem, 1.7rem, 2rem);
}
.confirmationCard ul li {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

/*-----------------------Menu------------------------------- */

.menuitems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 1rem;
}

/*-----------------------Dynamic---------------------------- */

@media (max-width: 768px) {
  .Nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: start;
}

.Nav ul li {
  margin-left: 0px;
}

.Nav ul li:first-child {
  margin-left: 0;
}

.App-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 20px;
  background-color: #edefee;
}

.Special_Card {
  margin-right: 2rem;
}

.imgcontainer {
  display: none;
}

}