.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #edefee;
}

.App-header img {
  margin-right: auto;
}

.Nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.Nav ul li {
  margin-left: 20px;
}

.Nav ul li:first-child {
  margin-left: 0;
}

.Nav ul li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: 333;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium;
}

.Main {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: auto;
}

.Footer {
  color: #edefee;
  min-height: auto;
  background: #495e57;
  display: flex;
  flex-wrap: wrap;
  align-items:start;
  justify-content: center;
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
}

.Footer img {
  margin-top: 20px;
  border-radius: 18px;
}

.Footer Menu {
  margin-top: 40px;
}

.Footer ul {
  list-style: none;
}

.App-link {
  color: #61dafb;
}

@media (max-width: 768px) {
  .Nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: start;
}

.Nav ul li {
  margin-left: 0px;
}

.Nav ul li:first-child {
  margin-left: 0;
}

.App-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 20px;
  background-color: #edefee;
}
}